PORT=3333
HOST=0.0.0.0
TIMEZONE=America/Fortaleza

CHATWOOT_BASE_URL=https://chat.iainfinity.com.br
CHATWOOT_API_ACCESS_TOKEN=your_chatwoot_api_token
CHATWOOT_ACCOUNT_ID=26
CHATWOOT_INBOX_ID=186
CHATWOOT_INBOX_NAME=Atendimento Dr. Bem Estar
CHATWOOT_INBOX_PROVIDER=whatsapp
CHATWOOT_GROUP_NAME=Clinic+

BACKEND_URL=http://127.0.0.1:3333
